.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
    height: 40px;
    font-size: 9px;
    text-align: right;
}

.footer p {
    margin-right: 10px;
}